<div class="container">

<h1>Add a Comment</h1>
<h3>Any ideas for where we should spend our 2016 honeymoon?<h3>
 
<%= form_for @comment do |f| %>


  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited
        this article from being saved:</h2>
      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :comment %><br>
      <%= f.text_field :comment %>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end %>


</div>