<div class="container">


Who is attending page – Guests#edit<br>
Select which people are attending<br>
Click submit<br>

<%= @guests.first.family.name %><br>


	<%= form_tag family_path(@guests.first.family.id), method: :put do %>
	<table>
		<tr>
			<td>Name</td>
			<td>Check box</td>
		</tr>




		<% @guests.each do |guest| %>
			<tr>
				<td><%= guest.first_name %>&nbsp;<%= guest.last_name %></td>
				<td><%= check_box_tag "guest_ids[]", guest.id %></td>
			</tr>
		<% end %>


	</table>
	<%= submit_tag 'RSVP' %>
	<% end %>
</div>


