<div class = "container">

	Family select page – Guests#index
	-shows zero familiers
	Enter your first name and click search <br>
	Receive a list of families <br>
	Select your family <br>
	Select <br>


	    <div class="row">
	        <div class = "col-md-6">
	            <h1>Eneter your name to search for your party:</h1>
	            <%= form_tag families_path, :method => 'get' do %>
	              <p>
	                <%= text_field_tag :search, params[:search] %>
	                <%= hidden_field_tag :family_id, params[:family_id] %>
	                <%= submit_tag "Search", :name => nil %>

	              </p>
	            <% end %>
	        </div>
	    </div>


	<% @families.each do |family| %>

		<%= link_to family.name, edit_family_path(family) %><br>

	<% end %>

</div>