<!doctype html>
<html lang="en">
<script>
    /*---------------------------------------*/
    /*  NAVIGATION AND NAVIGATION VISIBLE ON SCROLL
    /*---------------------------------------*/

    mainNav();
    $(window).scroll(function() {
        mainNav();
    });

    function mainNav() {
        var top = (document.documentElement && document.documentElement.scrollTop) || document.body.scrollTop;
        if (top > 40) $('.appear-on-scroll').stop().animate({
            "opacity": '1',
            "top": '0'
        });
        else $('.appear-on-scroll').stop().animate({
            "top": '-70',
            "opacity": '0'
        });

        /* if (top > 95) {
        $('.js-login').fadeOut(20);
        }
        else {
        $('.js-login').fadeIn(200);
            
        }
        
        if (top > 200) {
        $('.js-register').fadeIn(200);
        }
        else {
        $('.js-register').fadeOut(200);
            
        } */
    }

</script>

<body>
    
    <!-- =========================
     PRE LOADER       
    ============================== -->

    
    <%= render 'welcome/header' %>
    <%= render 'welcome/first_met' %>
    <%= render 'welcome/first_date' %>
    <%= render 'welcome/first_spring' %>
    <%= render 'welcome/get_married' %>
    <%= render 'welcome/rsvp' %>
    <%= render 'welcome/header' %>





    <%= render 'welcome/celebration' %>
    <%= render 'welcome/parking' %>
    <%= render 'welcome/rehearsal' %>
    <%= render 'welcome/accomodations' %>
    <%= render 'welcome/registry' %>



    <%= render 'welcome/contact_info' %>


</body>

</html>