<!doctype html>
<html lang="en">
    <body>
        
        
        <%= render 'welcome/header' %>
        <%= render 'welcome/first_met' %>
        <%= render 'welcome/first_date' %>
        <%= render 'welcome/celebration' %>
        <%= render 'welcome/first_spring' %>
        <%= render 'welcome/get_married' %>  


        <%= render 'welcome/rsvp' %>

        <%= render 'welcome/parking' %>
        <%= render 'welcome/rehearsal' %>
        <%= render 'welcome/accomodations' %>
        <%= render 'welcome/registry' %>
        <%= render 'welcome/contact_info' %>


    </body>
</html>