<!DOCTYPE html>
<html>
<head>
  <title>Mr&Mrs Cluong</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'twitter/bootstrap', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'turbolinks', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'jquery_ujs', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'stampjs/smoothscroll', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'stampjs/jquery.nav', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'stampjs/wow.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'stampjs/nivo-lightbox.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'stampjs/owl.carousel.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'stampjs/jquery.stellar.min', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'stampjs/jquery.ajaxchimp.min', 'data-turbolinks-track' => true %>
  



  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %><p class="alert alert-info"><%= notice %></p><% end %>
<% if alert %><p class="alert alert-warning"><%= alert %></p><% end %>

<%= yield %>

</body>
</html>






